{% extends "base.html.j2" %}

{% block content %}
<article aria-busy="true">
    <hgroup>
        <h1>{{ branding.title }}</h1>
        <p>Generating availability &mdash; please check back in a moment.</p>
    </hgroup>
</article>
{% endblock %}
