{% extends "base.html.j2" %}

{% block content %}
<article>
    <hgroup>
        <h1>Thank you!</h1>
        <p>Your meeting request has been received.</p>
    </hgroup>
    <p>The meeting is not confirmed until you receive a calendar invitation.</p>
    <a href="/" role="button" class="outline">Back to booking page</a>
</article>
{% endblock %}
